Dear {{name}}:

Thank you for your order today of Sun-Ray sunglasses. We appreciate your business and look forward to providing you with a pair of America's top-rated prescription sunglasses.

Unfortunately, your order is on hold, because there is a problem with your prescription. When we contacted your doctor, she said you had not had an eye exam in five years. In order to fill your order, we do need the prescription from your doctor. Would you please contact her office and then let us know how to proceed?

Thank you and we look forward to hearing from you soon.

With best regards,

Your name

Your position with company

Your contact information