{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="ps-banner">
  <div class="rev_slider" id="home-banner">
    
    <ul>
      <li class="ps-banner" data-index="rs-2972" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0"><img class="rev-slidebg" src="{% static 'sky/images/banner/567.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
        <!-- <div class="tp-caption ps-banner__header" id="layer-1" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
          <p>March 2002 <br> Nike SB Dunk Low Pro</p>
        </div>
        <div class="tp-caption ps-banner__title" id="layer21" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
          <p class="text-uppercase">SUBA</p>
        </div>
        <div class="tp-caption ps-banner__description" id="layer211" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
          <p>Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in  a big way.</p>
        </div><a class="tp-caption ps-btn" id="layer31" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Purchase Now<i class="ps-icon-next"></i></a> -->
      </li>
      <li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0"><img class="rev-slidebg" src="{% static 'sky/images/banner/890.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
        <!-- <div class="tp-caption ps-banner__header" id="layer20" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
          <p>BEST ITEM <br> THIS SUMMER</p>
        </div>
        <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
          <p class="text-uppercase">Recovery</p>
        </div>
        <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
          <p>Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in  a big way.</p>
        </div><a class="tp-caption ps-btn" id="layer364" href="#" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">Purchase Now<i class="ps-icon-next"></i></a> -->
      </li>
    </ul>
  </div>
</div>
{% endblock banner %}

{% block message %}
<div class="mt-6 pt-4">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
{% endblock message %}

{% block content %}
      <div class="ps-blog-grid pt-80 pb-80">
        <div class="ps-container">
          <div class="row">
            
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">   

                  <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
                    <div class="ps-container">
                      <div class="ps-section__header mb-50">
                        <h3 class="ps-section__title" data-mask="Products">- Our Products</h3>
                        <ul class="ps-masonry__filter">
                          <li class="current"><a href="#" data-filter="*">All <sup>{{count_all}}</sup></a></li>
                          <li><a href="#" data-filter=".RNT">Round Neck <sup>{{count_round}}</sup></a></li>
                          <li><a href="#" data-filter=".CT">Collar <sup>{{count_collar}}</sup></a></li>
                          <li><a href="#" data-filter=".SUT">Sublimation <sup>{{count_sublimation}}</sup></a></li>
                          <li><a href="#" data-filter=".SPT">Sports <sup>{{count_sports}}</sup></a></li>
                          <li><a href="#" data-filter=".GT">Graphics <sup>{{count_graphics}}</sup></a></li>
                          <li><a href="#" data-filter=".COT">Corporate <sup>{{count_corporate}}</sup></a></li>
                          <li><a href="#" data-filter=".CUT">Customized <sup>{{count_customise}}</sup></a></li>
                          <li><a href="#" data-filter=".ET">Event <sup>{{count_event}}</sup></a></li>
                          <li><a href="#" data-filter=".TP">Track Pants<sup>{{count_track}}</sup></a></li>
                        </ul>
                      </div>
                      <div class="ps-section__content pb-50">
                        <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                          <div class="ps-masonry">
                            <div class="grid-sizer"></div>

                            {% for item in items %}
                            <div class="grid-item {{item.category}}">
                              <div class="grid-item__content-wrapper">
                                <div class="ps-shoe mb-30">
                                  <div class="ps-shoe__thumbnail">
                                    {% if item.new %}
                                    <div class="ps-badge"><span>New</span></div>
                                    {% endif %}
                                    
                                    {% if item.discount_price %}<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-&#8377;{{item.saving_price}}</span></div>{% endif %}<a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="{{ item.front_image.url }}" alt=""><a class="ps-shoe__overlay" href="{{ item.get_absolute_url }}"></a>
                                  </div>
                                  <div class="ps-shoe__content">
                                    <div class="ps-shoe__variants">
                                      <div class="ps-shoe__variant normal"><img src="{{ item.front_image.url }}" alt=""><img src="{{ item.back_image.url }}" alt=""><img src="{{ item.side_image.url }}" alt=""><img src="" alt=""></div>
                                    </div>
                                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="{{ item.get_absolute_url }}">{{item.title}}</a>
                                      <p class="ps-shoe__categories"><a href="#">{{item.get_category_display}}</a></p><span class="ps-shoe__price">
                                        {% if item.discount_price %}<del>&#8377;{{item.price}}</del> &#8377; {{item.discount_price}} {% else %} &#8377;{{item.price}}{% endif %}</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {% endfor %}
                     
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 "> -->
                  <!-- <aside class="ps-widget--sidebar ps-widget--search">
                    <form class="ps-search--widget" action="do_action" method="post">
                      <input class="form-control" type="text" placeholder="Search posts...">
                      <button><i class="ps-icon-search"></i></button>
                    </form>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Recent Posts</h3>
                    </div>
                    <div class="ps-widget__content">
                      <div class="ps-post--sidebar">
                        <div class="ps-post__thumbnail"><a href="#"></a><img src="{% static 'sky/images/blog/sidebar/11.jpg' %}" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
                      </div>
                      <div class="ps-post--sidebar">
                        <div class="ps-post__thumbnail"><a href="#"></a><img src="{% static 'sky/images/blog/sidebar/12.jpg' %}" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
                      </div>
                      <div class="ps-post--sidebar">
                        <div class="ps-post__thumbnail"><a href="#"></a><img src="{% static 'sky/images/blog/sidebar/13.jpg' %}" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
                      </div>
                    </div>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Categories</h3>
                    </div>
                    <div class="ps-widget__content">
                      <ul class="ps-list--arrow">
                        <li class="current"><a href="product-listing.html">Round Neck T-Shirt</a></li>
                        <li><a href="product-listing.html">Collar T-Shirt</a></li>
                        <li><a href="product-listing.html">Sublimation T-Shirt</a></li>
                        <li><a href="product-listing.html">Sports T-Shirt</a></li>
                        <li><a href="product-listing.html">Graphics T-Shirt</a></li>
                        <li><a href="product-listing.html">Corporate T-Shirt</a></li>
                        <li><a href="product-listing.html">Customized T-Shirt</a></li>
                        <li><a href="product-listing.html">Event Clothing</a></li>
                        <li><a href="product-listing.html">Track Pants</a></li>
                      </ul>
                    </div>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Ads Banner</h3>
                    </div>
                    <div class="ps-widget__content"><a href="product-listing"><img src="images/offer/sidebar.jpg" alt=""></a></div>
                  </aside> -->
                 
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Best Seller</h3>
                    </div>
                    <div class="ps-widget__content">
                      <div class="ps-shoe--sidebar">
                        <div class="ps-shoe__thumbnail"><a href="#"></a><img src="{% static 'sky/images/shoe/sidebar/5.jpg' %}" alt=""></div>
                        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Men's Sky</a>
                          <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
                        </div>
                      </div>
                      <div class="ps-shoe--sidebar">
                        <div class="ps-shoe__thumbnail"><a href="#"></a><img src="{% static 'sky/images/shoe/sidebar/6.jpg' %}" alt=""></div>
                        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Nike Flight Bonafide</a>
                          <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
                        </div>
                      </div>
                      <div class="ps-shoe--sidebar">
                        <div class="ps-shoe__thumbnail"><a href="#"></a><img src="{% static 'sky/images/shoe/sidebar/7.jpg' %}" alt=""></div>
                        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Nike Sock Dart QS</a>
                          <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
                        </div>
                      </div>
                    </div>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Tags</h3>
                    </div>
                    <div class="ps-widget__content">
                      <ul class="ps-tags">
                        <li><a href="product-listing.html">Men</a></li>
                        <li><a href="product-listing.html">Female</a></li>
                        <li><a href="product-listing.html">B&G</a></li>
                        <li><a href="product-listing.html">ugly fashion</a></li>
                        <li><a href="product-listing.html">Nike</a></li>
                        <li><a href="product-listing.html">Dior</a></li>
                        <li><a href="product-listing.html">Adidas</a></li>
                        <li><a href="product-listing.html">Diour</a></li>
                      </ul>
                    </div>
                  </aside> -->
                <!-- </div> -->
          </div>
        </div>
      </div>

      <div class="ps-section--offer">
        <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="{% static 'sky/images/banner/home-banner-1.png' %}" alt=""></a></div>
        <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="{% static 'sky/images/banner/home-banner-1.png' %}" alt=""></a></div>
      </div>

      <div class="ps-blog-grid pt-80 pb-80">
        <div class="ps-container">
          <div class="row">
            
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">   
                  <div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-80">
                    <div class="ps-container">
                      <div class="ps-section__header mb-50">
                        <div class="row">
                              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                                <h3 class="ps-section__title" data-mask="BEST SALE">- Top Sales</h3>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                                <div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
                              </div>
                        </div>
                      </div>
                      <div class="ps-section__content">
                        <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">

                          {% for item in items %}
                          <div class="ps-shoes--carousel">
                            <div class="ps-shoe">
                              <div class="ps-shoe__thumbnail">
                                {% if item.new %}
                                    <div class="ps-badge"><span>New</span></div>
                                    {% endif %}
                                    
                                    {% if item.discount_price %}<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-&#8377;{{item.saving_price}}</span></div>{% endif %}<a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="{{ item.front_image.url }}" alt=""><a class="ps-shoe__overlay" href="{{ item.get_absolute_url }}"></a>
                                <!-- <div class="ps-badge"><span>New</span></div><a class="ps-shoe__favorite" href="#"><i class="ps-icon-heart"></i></a><img src="{{ item.image.url }}" alt=""><a class="ps-shoe__overlay" href="{{ item.get_absolute_url }}"></a> -->
                              </div>
                              <div class="ps-shoe__content">
                                <div class="ps-shoe__variants">
                                  <div class="ps-shoe__variant normal"><img src="{{ item.front_image.url }}" alt=""><img src="{{ item.back_image.url }}" alt=""><img src="{{ item.side_image.url }}" alt=""><img src="" alt=""></div>
                                </div>
                                <div class="ps-shoe__detail"><a class="ps-shoe__name" href="{{ item.get_absolute_url }}">{{item.title}}</a>
                                  <p class="ps-shoe__categories"><a href="#">{{item.get_category_display}}</a></p><span class="ps-shoe__price"> {% if item.discount_price %}<del>&#8377;{{item.price}}</del> &#8377; {{item.discount_price}} {% else %} &#8377;{{item.price}}{% endif %}</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}

                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                  <!-- <aside class="ps-widget--sidebar ps-widget--search">
                    <form class="ps-search--widget" action="do_action" method="post">
                      <input class="form-control" type="text" placeholder="Search posts...">
                      <button><i class="ps-icon-search"></i></button>
                    </form>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Recent Posts</h3>
                    </div>
                    <div class="ps-widget__content">
                      <div class="ps-post--sidebar">
                        <div class="ps-post__thumbnail"><a href="#"></a><img src="{% static 'sky/images/blog/sidebar/11.jpg' %}" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
                      </div>
                      <div class="ps-post--sidebar">
                        <div class="ps-post__thumbnail"><a href="#"></a><img src="{% static 'sky/images/blog/sidebar/12.jpg' %}" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
                      </div>
                      <div class="ps-post--sidebar">
                        <div class="ps-post__thumbnail"><a href="#"></a><img src="{% static 'sky/images/blog/sidebar/13.jpg' %}" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="#">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2017</span></div>
                      </div>
                    </div>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Categories</h3>
                    </div>
                    <div class="ps-widget__content">
                      <ul class="ps-list--arrow">
                        <li class="current"><a href="product-listing.html">Round Neck T-Shirt</a></li>
                        <li><a href="product-listing.html">Collar T-Shirt</a></li>
                        <li><a href="product-listing.html">Sublimation T-Shirt</a></li>
                        <li><a href="product-listing.html">Sports T-Shirt</a></li>
                        <li><a href="product-listing.html">Graphics T-Shirt</a></li>
                        <li><a href="product-listing.html">Corporate T-Shirt</a></li>
                        <li><a href="product-listing.html">Customized T-Shirt</a></li>
                        <li><a href="product-listing.html">Event Clothing</a></li>
                        <li><a href="product-listing.html">Track Pants</a></li>
                      </ul>
                    </div>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Ads Banner</h3>
                    </div>
                    <div class="ps-widget__content"><a href="product-listing"><img src="images/offer/sidebar.jpg" alt=""></a></div>
                  </aside> -->
                 
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Best Seller</h3>
                    </div>
                    <div class="ps-widget__content">
                      <div class="ps-shoe--sidebar">
                        <div class="ps-shoe__thumbnail"><a href="#"></a><img src="{% static 'sky/images/shoe/sidebar/5.jpg' %}" alt=""></div>
                        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Men's Sky</a>
                          <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
                        </div>
                      </div>
                      <div class="ps-shoe--sidebar">
                        <div class="ps-shoe__thumbnail"><a href="#"></a><img src="{% static 'sky/images/shoe/sidebar/6.jpg' %}" alt=""></div>
                        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Nike Flight Bonafide</a>
                          <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
                        </div>
                      </div>
                      <div class="ps-shoe--sidebar">
                        <div class="ps-shoe__thumbnail"><a href="#"></a><img src="{% static 'sky/images/shoe/sidebar/7.jpg' %}" alt=""></div>
                        <div class="ps-shoe__content"><a class="ps-shoe__title" href="#">Nike Sock Dart QS</a>
                          <p><del> £253.00</del> £152.00</p><a class="ps-btn" href="#">PURCHASE</a>
                        </div>
                      </div>
                    </div>
                  </aside> -->
                  <!-- <aside class="ps-widget--sidebar">
                    <div class="ps-widget__header">
                      <h3>Tags</h3>
                    </div>
                    <div class="ps-widget__content">
                      <ul class="ps-tags">
                        <li><a href="product-listing.html">Men</a></li>
                        <li><a href="product-listing.html">Female</a></li>
                        <li><a href="product-listing.html">B&G</a></li>
                        <li><a href="product-listing.html">ugly fashion</a></li>
                        <li><a href="product-listing.html">Nike</a></li>
                        <li><a href="product-listing.html">Dior</a></li>
                        <li><a href="product-listing.html">Adidas</a></li>
                        <li><a href="product-listing.html">Diour</a></li>
                      </ul>
                    </div>
                  </aside> -->
                </div>
          </div>
        </div>
      </div>

      <div class="ps-contact ps-section pb-80">
        <div class="ps-container">
          <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="ps-section__header mb-50">
                    <h2 class="ps-section__title" data-mask="Contact">- Contact us</h2>
                    <form method="POST" class="ps-contact__form" action="">
                      {% csrf_token %}
                      <div class="row">   
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="form-group">
                                <label>Name <sub>*</sub></label>
                                <input name="name" class="form-control" type="text" placeholder="">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="form-group">
                                <label>Email <sub>*</sub></label>
                                <input name="email" class="form-control" type="email" placeholder="">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="form-group">
                                <label>Subject <sub>*</sub></label>
                                <input name="subject" class="form-control" type="text" placeholder="">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                              <div class="form-group">
                                <label>Phone <sub>*</sub></label>
                                <input name="number" class="form-control" type="number" placeholder="">
                              </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                              <div class="form-group mb-25">
                                <label>Your Message <sub>*</sub></label>
                                <textarea name="message" class="form-control" rows="6"></textarea>
                              </div>
                              <div class="form-group">
                                <button class="ps-btn">Send Message<i class="ps-icon-next"></i></button>
                              </div>
                            </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="ps-section__content">
                    <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <div class="ps-contact__block" data-mh="contact-block">
                              <header>
                                <h3>USA <span> San Francisco</span></h3>
                              </header>
                              <footer>
                                <p><i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
                                <p><i class="fa fa-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
                                <p><i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
                              </footer>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <div class="ps-contact__block" data-mh="contact-block">
                              <header>
                                <h3>Ireland  <span> Dublin</span></h3>
                              </header>
                              <footer>
                                <p><i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
                                <p><i class="fa fa-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
                                <p><i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
                              </footer>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <div class="ps-contact__block" data-mh="contact-block">
                              <header>
                                <h3>Brazil <span> São Paulo</span></h3>
                              </header>
                              <footer>
                                <p><i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
                                <p><i class="fa fa-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
                                <p><i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
                              </footer>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <div class="ps-contact__block" data-mh="contact-block">
                              <header>
                                <h3>Philippines <span> Quezon City</span></h3>
                              </header>
                              <footer>
                                <p><i class="fa fa-map-marker"></i> 19C Trolley Square  Wilmington, DE 19806</p>
                                <p><i class="fa fa-envelope-o"></i><a href="mailto@supportShoes@shoes.net">supportShoes@shoes.net</a></p>
                                <p><i class="fa fa-phone"></i> ( +84 ) 9892 2324  -  9401 123 003</p>
                              </footer>
                            </div>
                          </div>
                    </div>
                  </div>
                </div> -->
          </div>
        </div>
      </div>

{% endblock content %}
      
