{% extends 'base.html' %}
{% load static %}

{% block message %}
<div class="mt-6 pt-4">
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
  {% endif %}
  </div>
{% endblock message %}

{% block content %}
<main>
    <div class="container h-100">
      <!--Section: Products v.3-->
      <!-- <section class="mb-4"> -->
  
        <!--Grid row-->
        <!-- <div class="row wow fadeIn"> -->
        <div class="col-md-3"></div>
          <div class='col-md-6' style="margin-top: 40px; margin-bottom: 40px;">

            <h3 style="color: green;">Password reset complete</h3>
            <br>

            <p>Your password has been set. You may go ahead and log in now.</p>

            <a href="{% url 'core:login' %}">Log in</a>
        </div>
        <div class="col-md-4"></div>

    <!-- </div> -->

<!-- </section> -->
</div>
</main>
{% endblock content %}
